*{
    margin: 0;
    padding: 0;
}
.app-nav ul, ul > ul{
    list-style: none;
    margin: 0;
}

.app-nav{
    display: flex;
    flex-direction: column;
    color: white;
}

.secondary-menu{
    background: var(--a-gray);
    font-weight: 500;
    padding: 9px 0;
}

.main-menu{
    background: var(--a-blue);
}

.main-menu .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondary-menu ul:first-of-type{
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
    padding: 0;
}

.secondary-menu li:last-of-type{
    justify-self: end;
}

.main-menu ul:first-of-type{
    display: flex;
}

.main-menu ul li{
    padding: 22px 0;
}

.main-menu ul li a{
    margin: 0 15px;
}

.secondary-menu ul:first-of-type li:nth-child(2){
    padding: 0 54px;
}

.app-nav ul ul{
    display: none !important;
}

.app-nav a{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(white, white);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;
}

a{
    text-decoration: none;
}

.app-nav .main-menu ul li a:hover{
    background-size: 100% 2px;
}

.main-menu ul li ul{
    position: absolute;
    width: 105px;
    background: var(--a-blue);
    border-radius: 0 0 13px 13px;
    padding: 0;
    margin-top: 22px;
    flex-direction: column;
}

.main-menu ul li ul li ul{
    top: 0;
    margin-top: 0;
}

.main-menu ul li ul li ul{
    left: 105px;
}

.app-nav ul li:hover > ul{
    display: block !important;
}

.app-nav .secondary-menu ul li:hover > ul{
    display: none !important;
    opacity: 0;
    transition: background .1s, opacity .5s .3s;
}

.app-nav .secondary-menu ul li.open > ul{
    display: flex !important;
    position: absolute;
    width: fit-content;
    top: 30;
    right: 1;
    background: var(--a-gray);
    padding: 19px 14px 23px 14px;
    border-radius: 0 0 17px 17px;
    flex-direction: column;
    gap: 11px;
    font-weight: 300;
    opacity: 1;
    transition: background .6s .1s, opacity .5s;
}

.app-nav a:hover, footer a:hover{
    color: white;
}

.app-nav .secondary-menu ul li.open > ul a{
    display: flex;
    gap: 10px;
}

.app-nav .secondary-menu ul li.open > ul li{
    padding: 0;
}

.app-nav .secondary-menu ul li.open > ul li.active{
    font-weight: 600;
}

footer{
    color: white;
}

.app-main{
    margin-bottom: 233px;
}

.f-logo-rectangle{
    width: 86px;
    height: 10px;
    background: white;
}

.main-footer__logo{
    padding: 40px 0;
    margin: 0 auto;
    width: fit-content;
    font-size: var(--fs-footer-logo-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-footer{
    background: var(--a-blue);
}

.secondary-footer{
    background: var(--a-gray);
}

.secondary-footer__content{
    padding: 10px 0;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: var(--logo-font-size);
}

.app-head-page{
    max-height: 400px;
    background-image: url("/assets/images/main-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.a-head{
    display: flex;
    justify-content: space-between;
    height: 100%
}

.a-head__text{
    margin-top: 78px;
}

.a-head__img{
    display: flex;
}

.breadcrumbs{
    display: flex;
}

.breadcrumbs a{
    color: var(--a-gray);
    text-decoration: none;
    font-size: var(--breadrumbs-font-size);
}

.breadcrumbs .breadcrumbs-page{
    color: var(--a-dark-blue)
}

h1{
    font-size: var(--h1-font-size) !important;
    font-weight: var(--h1-font-weight) !important;
}

h2{
    font-size: var(--h2-font-size) !important;
    font-weight: var(--h2-font-weight) !important;
    color: var(--a-blue);
}

p{
    font-size:var(--p-font-size) !important;
}

.app-head-home{
    max-height: 590px;
    height: 100%;
    background-image: url("/assets/images/mainhome-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.app-head-home .a-head__text{
    margin-top: 160px;
}

.title-container{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.title-rect{
    width: 86px;
    height: 10px;
    background: var(--a-dark-blue);
}

p.section-content{
    width: 660px;
    text-align: center;
    margin: 0 auto;
    color: var(--a-gray);
    padding-top: 21px;
}

.section{
    margin-top: 260px;
}

.section:first-of-type{
    margin-top: 80px;
}

.p.section-content-2{
    font-size: 20px;
    font-weight: 600;
}

.image-container{
    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-auto-rows: 420px;
}

.page-photogallery .section .image-container div:nth-of-type(1){
    grid-column: 1/2;
}

.page-photogallery .section .image-container div:nth-of-type(2){
    grid-column: 2/4;
}

.page-photogallery .section .image-container div:nth-of-type(3){
    grid-column: 4/5;
}

.page-photogallery .section .image-container div:nth-of-type(4){
    grid-column: 1/3;
    grid-row: 2/3;
}

.page-photogallery .section .image-container div:nth-of-type(5){
    grid-column: 3/5;
    grid-row: 2/3;
}

.image-container div img{
    width: 100%;
    height: 100%;
}

img{
    border-radius: 17px;
}

.page-photogallery .section-2 .image-container{
    grid-template-columns: 320px 1fr 220px 220px 1fr 320px;
}

.page-photogallery .section-2 .image-container div:nth-of-type(1){
    grid-column: 1/2;
}

.page-photogallery .section-2 .image-container div:nth-of-type(2){
    grid-column: 2/4;
}

.page-photogallery .section-2 .image-container div:nth-of-type(3){
    grid-column: 4/6;
}

.page-photogallery .section-2 .image-container div:nth-of-type(4){
    grid-column: 6/7;
}

.page-photogallery .section-2 .image-container div:nth-of-type(5){
    grid-column: 1/4;
    grid-row: 2/3;
}

.page-photogallery .section-2 .image-container div:nth-of-type(6){
    grid-column: 4/7;
    grid-row: 2/3;
}

.page-photogallery .section-2 .image-container div:nth-of-type(7){
    grid-column: 1/3;
    grid-row: 3/4;
}

.page-photogallery .section-2 .image-container div:nth-of-type(8){
    grid-column: 3/5;
    grid-row: 3/4;
}

.page-photogallery .section-2 .image-container div:nth-of-type(9){
    grid-column: 5/7;
    grid-row: 3/4;
}

.page-photogallery .section-3 .image-container{
    grid-template-columns: 2fr 1fr 1fr 2fr;
}

.page-photogallery .section-2 .image-container div:nth-of-type(4){
    grid-row: 1/2;
}

.page-photogallery .bg-1{
    position: absolute;
    top: 650;
    left: 0;
    z-index: -1;
}

.page-photogallery .bg-2{
    position: absolute;
    top: 1800;
    right: 300;
    z-index: -1;
}

.page-photogallery .bg-3{
    position: absolute;
    top: 3550;
    left: 300;
    z-index: -1;
}

.page-photogallery .bg-4{
    position: absolute;
    top: 2500;
    right: 0;
    z-index: -1;
}

.page-photogallery .bg-5{
    position: absolute;
    top: 3800;
    left: 0;
    z-index: -1;
}

.page-home .bg-1{
    position: absolute;
    top: 650;
    left: 0;
    z-index: -1;
}

.history-container{
    display: flex;
}

.history-container .title-container, .section-preview .title-container{
    margin: 0;
    align-items: start;
    margin-bottom: 42px;
}

.history-container p, .section-article:nth-of-type(even) p{
    padding-right: 15px;
}

.section-article:nth-of-type(odd) p{
    padding-left: 15px;
}

.card-container{
    background: #EBF6FB;
    border-radius: 17px;
    padding: 15px 30px;
    max-width: 300px;
}

.card-container img{
    border-radius: 0;
    height: 52px;
}

header img{
    border-radius: 0;
}

.subsection-advantages, .subsection-contacts{
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
}

.card-container h4{
    margin: 15px 0;
    color: var(--a-dark-blue);
}

.card-container p{
    color: var(--a-gray);
}

.card-container p a{
    text-decoration: none;
    color: var(--a-gray);

}

.section-ads{
    background: var(--a-dark-blue);
    color: white;
    padding: 22px 0;
}

.ads-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.images-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
}

.images-container:nth-child(1){
    grid-column: 1/2;
}
.images-container:nth-child(2){
    grid-column: 2/4;
}
.images-container:nth-child(3){
    grid-column: 4/5;
}

.page-about_us .bg{
    position: absolute;
    left: 0;
    z-index: -1;
    top: 1900;
}

.page-contacts .card-container p{
    font-weight: 600;
}

.map-container{
    width: 100%;
    height: 475px;
    border-radius: 17px;
    margin-top: 80px;
}

.page-contacts .bg{
    position: absolute;
    z-index: -1;
    left: 0;
    top: 1450;
}

.app-head-404{
    height: 610px;
    background-image: url("/assets/images/404-bg.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.app-head-404 h1{
    font-size: 128px !important;
    color: var(--a-blue);
}
.title-404{
    width: fit-content;
}

.title-rect-404{
    height: 10px;
    width: 100%;
    background: var(--a-dark-blue);
}

.app-head-404 p{
    color: var(--a-gray);
    margin-top: 17px;
}

footer a{
    text-decoration: none;
    color: white;
}

.article-container{
    display: flex;
    margin-top: 120px;
}

.article-container p{
    color: var(--a-gray);
}

.title-container h3{
    color: var(--a-blue);
    font-size: var(--h3-font-size);
}

.section-preview .title-container{
    margin-bottom: 16px;
}

.section-preview ul a{
    color: var(--a-gray);
    text-decoration: none;
    transition: textdecoration .5s;
    font-weight: 400;
}

.section-preview ul a:hover{
    text-decoration: underline;
}

.section-preview .images-container{
    margin-top: 95px;
}

.section-preview ul{
    padding-left: 1rem;
}

.page-about_breed .bg-1{
    position: absolute;
    z-index: -2;
    right: 0;
    top: 550;
}

.page-about_breed .bg-2{
    position: absolute;
    z-index: -2;
    left: 0;
    top: 2150;
}

.page-about_breed .bg-3{
    position: absolute;
    z-index: -1;
    right: 200;
    top: 600;
}

.page-about_breed .bg-4{
    position: absolute;
    z-index: -1;
    left: 300;
    top: 1450;
}

.page-about_breed .bg-5{
    position: absolute;
    z-index: -1;
    right: 300;
    top: 2150;
}

.page-about_breed .bg-6{
    position: absolute;
    z-index: -1;
    left: 300;
    top: 2900;
}

.page-about_breed .bg-7{
    position: absolute;
    z-index: -1;
    right: 300;
    top: 3650;
}

.page-about_breed .bg-8{
    position: absolute;
    z-index: -1;
    left: 300;
    top: 4350;
}

.btn a{
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.btn{
    border-radius: 17px !important;
}

.btn-blue{
    background: var(--a-dark-blue) !important;
}

.btn-blue:hover{
    background: var(--a-lightblue) !important;
}

.btn a:hover{
    color: white !important;
}

.btn-blue:active{
    background: var(--a-blue) !important;
}

.btn-lg{
    padding:16px 32px !important;
}

.btn-home{
    margin-top: 40px;
}

.section-welcome section{
    height: fit-content;
    margin-top: 43px;
}

.splide__pagination{
    bottom: -35;
}

.splide__pagination__page{
    background: var(--a-gray);
    height: 15px;
    width: 15px;
    margin: 6px;
}

.splide__pagination__page.is-active{
    background: var(--a-blue);
    transform: none;
}

.splide img:active{
    border: 2px solid var(--a-dark-blue);
}

.splide__arrow{
    background: rgba(255, 255, 255, 0.3);
}

.splide__arrow svg{
    fill: white;
}

.btn-md{
    padding: 14px 28px;
    font-size: 18px;
}

.section-welcome .btn{
    margin-top: 82px !important;
    margin: 0 auto;
}
.section-welcome{
    display: flex;
    flex-direction: column;
}

.subsection-articles{
    display: flex;
}

.page-home .article-container{
    flex-direction: column;
}

.page-home .article-container:nth-of-type(2){
    align-items: end;
    text-align: end;
}

.page-home .article-container img{
    margin-top: 71px;
}

.page-home .article-container:nth-of-type(2) img{
    margin: 0 71px 61px 71px;
}

#selector{
    padding: 16px 21px;
    background-color: var(--a-gray);
    color: white;
    border-radius: 17px;
    font-weight: 600;
    font-size: 16px;
    appearance: none;
    background-image: url("/assets/images/select-arrow.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    padding-right: 50px;
}

.cat-card{
    display: flex;
    background: var(--a-blue);
    color: black;
    border-radius: 17px;
    gap: 35px;
}

.cats-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.doubled-field p:first-of-type{
    color: var(--a-dark-blue);
    font-weight: 500;
}

.undername-rect{
    width: 61px;
    height: 4px;
    background: white;
    margin-top: 12px;
    margin-bottom: 22px;
}

.sex-filter-switcher{
    margin: 65px 0;
}

.doubled-field{
    display: flex;
    gap: 3px;
}

.cats-content{
    max-width: 566px;
    padding-top: 28px;
}

.cats-content h4{
    font-size: var(--h4-font-size);
}

.cats-content p{
    font-size: var(--card-p-font-size) !important;
}

.pages-pagination{
    margin: 0 auto;
    margin-top: 52px;
    width: fit-content;
}

.btn-page{
    color: var(--a-gray);
}

.btn-page.current{
    color: white;
    background: var(--a-dark-blue);
}

.pages-pagination .btn{
    border-radius: 5px !important;
}

.btn-arrow{
    background: var(--a-gray);
    color: white;
    padding: 2px 8px;
    margin: 0 5px;
}

.dropdown-lang .flag-preview{
    margin-right: 7px;
}

.kittens-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 825px;
    grid-row-gap: 36px;
    grid-column-gap: 17px;
    margin-bottom: 92px;
}

.kitten-card{
    flex-direction: column;
    gap: 0;
}

.kitten-card .cats-content{
    padding-top: 20px;
    width: 100%;
}

.kitten-card p{
    margin: 0;
}

.cat-description{
    margin-left: 37px;
}

.kitten-card .undername-rect{
    margin: 0 auto;
    margin-bottom: 10px;
}

.cat-price{
    color: white;
    font-weight: 400;
}

.kitten-card .cat-name, .cat-price, .kitten-card .btn{
    margin: 0 auto;
    width: fit-content;
}

.kitten-card .cat-name{
     margin-bottom: 6px;
}

.cat-btn-container{
    display: flex;
    margin-top: 18px;
}

.page-home .kittens-container{
    grid-auto-rows: 775px;
}

.section-last-events .btn{
    margin: 0 auto;
}

.section-last-events{
    display: flex;
    flex-direction: column;
}

.section-last-events .section-content:nth-of-type(2){
    font-weight: 600;
}

.parent-section{
    display: flex;
    padding: 0 110px;
    gap: 20px;
}

.parent-name{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
}

.parent-name p:nth-of-type(2){
    font-weight: 600;
}

.parent-image{
    width: 100%;
    height: 235px;
    border-radius: 29px;
    background-size: cover;
}

.parent-section{
    margin-bottom: 60px;
    margin-top: 60px;
}

.page-home .bg-1{
    position: absolute;
    z-index: -1;
    top: 1600;
}

.page-home .bg-2{
    position: absolute;
    z-index: -1;
    top: 2150;
    right: 0;
}

.page-home .bg-3{
    position: absolute;
    z-index: -1;
    top: 3650;
    left: 50%;
}

.page-home .bg-4{
    position: absolute;
    z-index: -1;
    top: 4150;
    right: 50;
}