:root{

    --a-white: #FAFAFA;
    --a-lightblue: #93DDFD;
    --a-blue: #56CAFC;
    --a-dark-blue: #2D73DC;
    --a-gray: #555;

    --fs-footer-logo-lg: 40px;
    --logo-font-size: 24px;
    --logo-font-size-sm: 20px;
    --breadrumbs-font-size: 16px;
    --h1-font-size: 60px;
    --h1-font-weight: 600;
    --p-font-size: 18px;
    --h2-font-size: 48px;
    --h2-font-weight: 600;
}

